@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <p>
        <a  asp-area="" style="color:blue" asp-controller="Admin" asp-action="Login">Login</a>  || <a  style="color:blue" asp-area="" asp-controller="Admin" asp-action="Create">Admin Register</a>
    </p>
</div>
